/* src/styles/styles.css */
.split-pane *.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-cursor: default;
}

.split-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}